.todos-list {
	margin-top: 20px;
	text-align: left;
	padding-left: 0;
}
.todos-list-item {
	font-size: 18px;
	padding: 16px 0;
	border-bottom: 1px solid #9c9c9c;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	text-align: left;
}

.todo-item-link {
	color: #000;
	text-decoration: none;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.edit-button {
	border: none;
	background: #04b504;
	color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	font-size: 22px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.15s ease;
}
.edit-button:after {
	content: '\270e';
}
.edit-button.edit:after {
	content: '\2713';
}
.edit-button:hover {
	background: #009000;
}

.delete-button {
	border: none;
	background: #fb5555;
	color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.15s ease;
}
.delete-button:hover {
	background: #f22929;
}

.field {
	border-radius: 4px;
	border: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 12px;
	min-height: 48px;
	box-sizing: border-box;
	font-size: 18px;
	width: 100%;
}

.buttons-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
